.welcome-img {
    margin-top: 1.5em;
    width: 100%;
    margin-bottom: 1.5em;

    @media (max-width: @screen-xs-max){
        width: 50%;
    }
}

.notification {
    font-size: 1.5em;
    height: 7/1.5em;
    line-height: 7/1.5em;
    color: @gray-light;
}

ul.spaced, ol.spaced {
    li {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media (min-width: @screen-md-min){
    .container {
        max-width: @screen-md-min;
    }
}

.fund-link {
    display: inline-block;
    padding: 1em 0 3em 0;

    img {
        width: 50%;
        margin-bottom: 1em;
    }

    span {

    }
}

// Helpers

.spacer-1em {
    height: 1em;
}

.spacer-2em {
    height: 2em;
}

.spacer-3em {
    height: 3em;
}

.spacer-4em {
    height: 4em;
}

.spacer-5em {
    height: 5em;
}

.full-width {
    width: 100%;
}


// Inverted List Order

.inverted-list {
    .scale(1,-1);

    & > li {
        .scale(1,-1);
    }
}


// Responsive Align text

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: @screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
