// Colors

@blue:		 #00ccff;
@darkblue:   darken(@blue,20%); //#008caf;
@green:		 #5ccbac;
@darkgreen:  darken(@green,20%); //#568c7e;
@orange:	 #feb076;
@darkorange: darken(@orange,20%); //#a6734e;
@violet:     #b091ff;
@darkviolet: #7964b0;
@slate:      #005069;
@whitesmoke: #f5f5f5;

// Speed

@fast:  200ms;
@slow:  600ms;
